Django==5.2.12

djangorestframework
django-cors-headers
djangorestframework-simplejwt

jiwer

openai-whisper @ git+https://github.com/openai/whisper.git

torch
ffmpeg-python
SpeechRecognition
pydub

google-cloud-speech

python-dotenv